<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.kard.card.mapper.CardMapper">
    <select id="selectList" resultType="jp.co.kard.card.domain.Card">
        SELECT
            id
            , company
            , section
            , title
            , name
            , address
            , tel_number
            , mail_address
        FROM
            card
        ORDER BY
            id
    </select>
</mapper>